<!-- accumulator.html
	 primarily for testing things with the accumulator model 
-->
<!DOCTYPE html>
{% extends "base.html" %}
{% block content %} 
<title>Accumulator</title>
<body>
	<h1>Accumulator Page</h1>
	<h3>This should sum up the data for the accumulator for the task codes per job</h3>
	<p>There's a lot of work to be done on this page</p>
	<br>
	
	<div>
		{% if accumulator %}
			<p>testing</p>
			{% for acc in accumulator %}
				<p>{{ acc }}</p>
			{% endfor %}
		{% endif %}
	</div>
	
	<div class="bulk">
		<a href="{% url 'JobImport:job_view' 1 %}" class="btn btn-outline-secondary btn-tiny">Back to Job Details</a>
	</div>
</body>
{% endblock %}