<!-- employee_export.html used for / testing the exporting of data -->
<!DOCTYPE html>
{% extends "base.html" %}
{% block content %} 
<h1 class="text-center">Welcome to the Export Page</h1>
<h3 class="text-center">The export process should begin shortly</h3>
<br>
<p class="lead text-center-left">Testing primarily with the task code information.</p>
<p>If working properly, this should export as a CSV file.</p>
<p>Along with that, if this is working properly, we won't need to see this page.</p>

{% endblock %}