<!-- file.html -->
<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block content %}

<html>
	<head>
		<meta charset="UTF-8">
		<title>Upload Files</title>
	</head>

	<body>
		<h1>File Uploader</h1>
		<form enctype="multipart/form-data" method="POST" action="">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Upload"/>
		</form>
		
		<br><br>
		<a href="{{ MEDIA_URL }}{{ filepath }}" target="_blank">test - link not working at the moment</a>
		<br><br>
		<a href="{% url 'JobImport:index' %}" class="btn btn-outline-secondary btn-tiny">Back to Main Page</a>
		</p>
	</body>
</html>

{% endblock %}