<!-- file.html -->
<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block content %}
<html>
	<head>
		<meta charset="UTF-8">
		<title>Upload Files</title>
	</head>

	<body>
		<h1>File Uploader</h1>
		<form enctype="multipart/form-data" method="POST" action="">
			{% csrf_token %}
			{{ form.non_field_errors }}
			<input type="file" name="myfile">
			<br><br>
			<button type="submit">Upload</button>
		</form>
		<br><br>
		{% if filename %}
			<p><b>Last Uploaded File:</b> {{ filename }}</p>
			<p>{{ result }}</p>
		{% endif %}
		<br><br>
		<div class="bulk">
			<a href="{% url 'JobImport:index' %}" class="btn btn-outline-secondary btn-tiny">Back to Main Page</a>
		</div>
		</p>
	</body>
</html>

{% endblock %}