<!-- file.html -->
<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block content %}
<html>
	<head>
		<meta charset="UTF-8">
		<title>Upload Files</title>
	</head>

	<body>
		<h1 class="text-center">File Uploader</h1>
		<h3 class="text-center">This page allows you to upload a file for an existing job</h3>
		<br><br>
		<p class="lead">Click on the "Choose File" button to select a file to upload</p>
		<p>Then, click on the "Upload" button to upload the file.</p>
		<br><br>
		<form enctype="multipart/form-data" method="POST" action="">
			{% csrf_token %}
			{{ form.non_field_errors }}
			<input type="file" name="myfile">
			<br><br>
			<button type="submit">Upload</button>
		</form>
		<br><br>
		<div class="bulk">
			<a href="{% url 'JobImport:export' %}" class="btn btn-outline-secondary btn-tiny">Export Task Codes</a>
			<br><br>
			<a href="{% url 'JobImport:employee_export' %}" class="btn btn-outline-secondary btn-tiny">Export Employees</a>
			<br><br>
			<a href="{% url 'JobImport:index' %}" class="btn btn-outline-secondary btn-tiny">Back to Main Page</a>
			<!-- proof of concept, the below buttons/links should be moved to a more appropriate page after feedback -->
		</div>
		</p>
	</body>
</html>

{% endblock %}