<!-- testing for index.html -->
<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block content %}
<html>
	<head>
		<title>Home Page</title>
	</head>

	<body>
		<header class="header">
			<script type="text/javascript" src="{% static 'jobimport/main.js' %}"></script>
			<div class="overlay"></div>
			
			<div class="container">
				<div class ="description">
					<h1>Testing! Welcome to the index page!</h1>
					<p>More testing, etc.</p>
					<a href="{% url 'JobImport:file' %}" class="btn btn-outline-secondary btn-small">Upload New Files</a>
				</div>
			</div>
			
		</header>
		
		<div class ="bulk">
			<h2>Testing some more stuff down below over here</h2>
				<p>Multiple buttons to link to the different pages. It won't work for now, due to data missing in the DB.</p>
				<p>Using a button template to remove functionality, but mess with the layout.</p>
				<a href="{% url 'JobImport:job_view' 1 %}" class="btn btn-outline-secondary btn-tiny">Job Details</a>
		</div>
		
	</body>
</html>
{% endblock %}