<!-- testing for index.html -->
<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block content %}
<html>
	<head>
		<title>Home Page</title>
	</head>

	<body>
		<header class="header">
			<script type="text/javascript" src="{% static 'jobimport/main.js' %}"></script>
			<div class="overlay"></div>
			
			<div class="container">
				<div class ="description">
					<h1>Testing! Welcome to the index page!</h1>
					<p>More testing, etc.</p>
					<a href="{% url 'JobImport:index' %}" class="btn btn-outline-secondary btn-small">Job Details</a>
				</div>
			</div>
			
		</header>
	</body>
</html>
{% endblock %}