<!-- job_view.html, for viewing info about the jobs in the queryset/DB -->
<!DOCTYPE html>
{% extends "base.html" %}
{% block content %} 
<body>

	<h1>Testing! Welcome to the Job Details page!</h1>
	<p>Should list the details for each job currently stored in the database</p>
	<div>
		{% if job_list %}
			<ul>
				{% for job in job_list %}
					<li>Job Name: "{{ job.job_name }}"</li>
					<li>Job ID: "{{ job.job_id}}"</li>
					<li>Start Date: {{ job.start_date }}</li>
					<li>Last Updated: {{ job.last_updated }}</li>
					<a href="{% url 'JobImport:job_update' job.job_id %}">Update</a>
					<a href="{% url 'JobImport:job_delete' job.job_id %}">Delete</a>
					<br>
				{% endfor %}
			</ul>
		{% endif %}

	</div>
	<div class="bulk">
		<br><br><br><br>
		<a href="{% url 'JobImport:index' %}" class="btn btn-outline-secondary btn-tiny">Back to Main Page</a>
		<a href="{% url 'JobImport:job_details' 1 %}" class="btn btn-outline-secondary btn-tiny">Create New Job</a>
	</div>
	
</body>
{% endblock %}