<!-- job_view.html, for viewing info about the jobs in the queryset/DB -->
<!DOCTYPE html>
{% extends "base.html" %}
{% block content %} 
<title>Job Info</title>

<body>

	<h1 class="text-center">Welcome to the Job Information Page!</h1>
	<h3 class="text-center">This lists the currently available jobs.</h3>
	<p class="lead text-center">In order to update or delete one of these jobs, please click on the respective links for "Update" or "Delete"</p>
	<br>
	
	<div class="alert alert-info" role="alert">
		<h4 class="text-center">Important information!</h4>
		<li class="text-center">To view the Employee information, click on the "Employee" link.</li>
		<li class="text-center mb-0">And to view the Task Code information, click on the "Task" link.</li>
	</div>
	
	<div>
		{% if job_list %}
			<ul>
				{% for job in job_list %}
					<li>Job Name: "{{ job.job_name }}"</li>
					<li>Job ID: "{{ job.job_id}}"</li>
					<li>Start Date: {{ job.start_date }}</li>
					<li>Last Updated: {{ job.last_updated }}</li>
					<!-- for getting the foreign key value for Jobs objects: 
					<li>test: {{ job.employee }}</li>
					-->
					<a href="{% url 'JobImport:job_update' job.job_id %}">Update</a>
					<a href="{% url 'JobImport:job_delete' job.job_id %}">Delete</a>
					<br>
					<a href="{% url 'JobImport:employee_info' job.job_id %}">View Employees</a>
					<br>
					<a href="{% url 'JobImport:task_info' job.job_id %}">View Task Information</a>
					<br>
				{% endfor %}
			</ul>
		{% endif %}

	</div>

	<div class="container-fluid">
		<a href="{% url 'JobImport:index' %}" class="btn btn-outline-secondary btn-tiny">Back to Main Page</a>
		<a href="{% url 'JobImport:job_details' 1 %}" class="btn btn-outline-secondary btn-tiny">Create New Job</a>
	</div>
	
</body>
{% endblock %}