<!-- job_update.html -->
<!DOCTYPE html>
{% extends "base.html" %}
{% block content %} 
<title>Job Update</title>

<body>
	<h1 class="text-center">Job Update Page</h1>
	<h3 class="text-center">This page allows you to update the following:</h3>
	<p class="lead text-center">The Job Name and the Start Date for the job</p>
	<br>
	<div>
		{% if job_list %}
			<form enctype="multipart/form-data" method="POST" action="{% url 'JobImport:job_update' job_list.job_id %}">
				{% csrf_token %}
				{{ form.as_p }}
				<br><br>
				<button type="submit", name="form", value="Update">Update Job Info</button>
			</form>
			<br><br>
			<form enctype="multipart/form-data" method="POST" action="{% url 'JobImport:job_update' job_list.job_id %}">
				{% csrf_token %}
				{{ form2.as_p }}
				<br><br>
				<button type="submit", name="form2", value="Update">Update Task Code Info</button>
			</form>
		{% endif %}
	</div>
	<div class="bulk">
		<br><br><br><br>
		<a href="{% url 'JobImport:job_view' 1 %}" class="btn btn-outline-secondary btn-tiny">Back to Job Details</a>
	</div>
</body>
{% endblock %}