<!-- job_update.html -->
<!DOCTYPE html>
{% extends "base.html" %}
{% block content %} 
<body>

	<h1>Testing! Welcome to the Job Update page!</h1>
	<p>This should allow you to update existing Jobs (WIP)</p>
	<div>
		<form enctype="multipart/form-data" method="POST" action="">
			{% csrf_token %}
			{{ form.as_p }}
			<br><br>
			<button type="submit">Update</button>
			
		</form>
		<br>
	</div>
	<div class="bulk">
		<br><br><br><br>
		<a href="{% url 'JobImport:job_view' 1 %}" class="btn btn-outline-secondary btn-tiny">Back to Job Details</a>
	</div>
	
</body>
{% endblock %}