<!-- job_delete.html -->
<!DOCTYPE html>
{% extends "base.html" %}
{% block content %} 
<title>Job Delete</title>

<body>

	<h1 class="text-center">Welcome to the Job Deletion page!</h1>
	<h3 class="text-center">This page allows you to delete the current job</h3>
	<br><br>
	{% if job_list %}
		<div class="text-center">
			<form enctype="multipart/form-data" method="POST" action="">
				{% csrf_token %}
				<p>Are you sure you want to delete job "<b>{{ job_list }}</b>"?</p>
				{{ form.as_p }}
				<br>
				<button type="submit">Delete</button>
				
			</form>
			<br>
		</div>
	{% endif %}
	<div class="bulk">
		<br><br><br><br>
		<a href="{% url 'JobImport:job_view' 1 %}" class="btn btn-outline-secondary btn-tiny">Back to Job Details</a>
	</div>
</body>
{% endblock %}