<!-- job_view.html, for viewing info about the jobs in the queryset/DB -->
<!DOCTYPE html>
{% extends "base.html" %}
{% block content %} 
<title>Job Info</title>

<body>
	<h1 class="text-center">Job Information</h1>
	<h3 class="text-center">These are the jobs currently open</h3>
	<p class="lead text-center">To update or delete one of these jobs, please click on the respective links for "Update" or "Delete"</p>
	<br>
	
	<div class="alert alert-info" role="alert">
		<h4 class="text-center">Important information!</h4>
		<li class="text-center">To view the Employee information, click on the "View Employees" link.</li>
		<li class="text-center mb-0">To view the Task Code information, click on the "View Task Information" link.</li>
	</div>
	
	<div>
		{% if job_list %}
			<table class="table table-bordered table-hover table-sm table-striped">
				<thead class="thead-light">
					<tr>
						<th scope="col">Job Name</th>
						<th scope="col">Job ID</th>
						<th scope="col">Start Date</th>
						<th scope="col">Last Updated</th>
						<th scope="col"></th>
						<th scope="col"></th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					{% for job in job_list %}
						<tr>
							<td>{{ job.job_name }}</td>
							<td>{{ job.job_id}}</td>
							<td>{{ job.start_date }}</td>
							<td>{{ job.last_updated }}</td>
							<!-- for getting the foreign key value for Jobs objects: 
							<li>test: {{ job.employee }}</li>
							-->
							<td><a href="{% url 'JobImport:job_update' job.job_id %}">Update<a></td>
							<td><a href="{% url 'JobImport:job_delete' job.job_id %}">Delete</a></td>
							<br>
							<td><a href="{% url 'JobImport:employee_info' job.job_id %}">View Employees</a></td>
							<td><a href="{% url 'JobImport:task_info' job.job_id %}">View Task Information</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}

	</div>

	<div class="container-fluid">
		<a href="{% url 'JobImport:index' %}" class="btn btn-outline-secondary btn-tiny">Back to Main Page</a>
		<a href="{% url 'JobImport:job_details' 1 %}" class="btn btn-outline-secondary btn-tiny">Create New Job</a>
		<a href="{% url 'JobImport:accumulator' %}" class="btn btn-outline-secondary btn-small">Accumulator Test</a>
		<a href="{% url 'JobImport:task_update' 1 %}" class="btn btn-outline-secondary btn-small">Budget Update Test</a>
	</div>
	
</body>
{% endblock %}