<!DOCTYPE html>
{% extends "base.html" %}
{% block content %} 
<body>

	<h1 class="text-center">Job Creation</h1>
	<h3 class="text-center">Use the form below to create a new job in the site</h3>
	<br>
	<div class="alert alert-info" role="alert">
		<h4 class="text-center">Job Creation Steps:</h4>
		<p class="text-center mb-0">1. Put in the ID number for this job</p>
		<p class="text-center mb-0">2. Put in the desired name for this job</p>
		<p class="text-center mb-0">3. Choose a start date for this job</p>
		<p class="text-center mb-0">4. Click the "Create" button!</p>
		<p class="text-center"> You'll be redirected to a success page afterward.</p>
	</div>
	
	<div>
		<form enctype="multipart/form-data" method="POST" action="">
			{% csrf_token %}
			{{ form.as_p }}
			<br><br>
			<button type="submit">Create</button>
			
		</form>
		<br>
	</div>
	<div class="bulk">
		<br><br><br><br>
		<a href="{% url 'JobImport:job_view' 1 %}" class="btn btn-outline-secondary btn-tiny">Back to Job Details</a>
		<a href="{% url 'JobImport:file' %}" class="btn btn-outline-secondary btn-small">Upload New Files</a>
	</div>
	
</body>
{% endblock %}