<!-- testing for task_info.html -->
<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<title>Task Info</title>

<h1 class="text-center">Task Information</h1>
<h3 class="text-center">This displays the current tasks listed for the associated job you cliked on.</h3>
<p class="lead text-center">Viewing task information for the current job</p>

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'JobImport:index' %}">Home</a></li>
		<li class="breadcrumb-item"><a href="{% url 'JobImport:job_view' 1 %}">Job List</a></li>
		<li class="breadcrumb-item active" aria-current="page">Task Information</li>
	</ol>
</nav>

<body>
	<div>
		{% if task %}
		<table class="table table-bordered table-hover table-sm table-striped">
			<thead class="thead-light">
				<tr>
					<th scope="col">Task Code</th>
					<th scope="col">Task Description</th>
					<th scope="col">Job ID</th>
					<th scope="col">Job Name</th>
					<th scope="col">Total Footage</th>
					<th scope="col">Actual Footage</th>
					<th scope="col">% Footage</th>
					<th scope="col">Total Budget</th>
					<th scope="col">Actual Budget</th>
					<th scope="col">% Budget</th>
				</tr>
			</thead>
			<tbody>
				{% for t in task %}
					<tr>
						<td>{{ t.code_id }}</td>
						<td>{{ t.code_desc }}</td>
						<td>{{ t.job.job_id }}</td>
						<td>{{ t.job.job_name }}</td>
						<td>{{ t.footage }}</td>
						<td>{{ t.actual_footage }}</td>
						<td></td>
						<td>{{ t.budget }}</td>
						<td>{{ t.actual_budget }}</td>
						<td></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</div>
	<div class="container-fluid">
		<a href="{% url 'JobImport:job_view' 1 %}" class="btn btn-outline-secondary btn-tiny">Back to Job Details</a>
	</div>
</body>
{% endblock %}