<!-- testing for task_info.html -->
<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

<h1>Testing! Welcome to the Task Information page!</h1>
<body>
	<div>
		{% if task %}
		<p>
			{% for t in task %}
			<!-- proof of concept - need to work on how to do this non-hardcoded -->
				{% if t.job_id == 11 %}
					<li>{{ t.code_id }} {{ t.code_desc }} {{ t.job }} {{ t.job_id }} {{ t.id }}</a></li>
				{% endif %}
			{% endfor %}
		</p>
		{% endif %}
	</div>
	<div class="bulk">
		<a href="{% url 'JobImport:job_view' 1 %}" class="btn btn-outline-secondary btn-tiny">Back to Job Details</a>
	</div>
</body>
{% endblock %}